/* resert */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
.playlist,
.user{
    border: 1px solid red;
}





/* common */
body{
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}
.btn{
    color: white;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 25px;
}
/* FONT */
h2{
    color: white;
    margin-bottom: 15px;
}
/* main */
main{
    height: calc(100vh - 100px);
    display: flex;
}
/* ASIDE */
aside{
    width: 300px;
    background-color: #000000;
    padding: 10px;  
}

.logo{
    padding-bottom: 20px; 
}

aside .logo img{
    width: 80%;
}

aside nav ul li:nth-child(2){
    margin: 20px 0px;

}

.svg-icon{
    width: 10%;
    vertical-align: sub;
    margin-right: 5px;
}

aside ul li a{
    text-decoration: none;
    color: inherit;
}

.playlist{
    height: calc(100% - 340px);
    overflow-y: auto;
    margin: 30px 0px;
}

.playlist li:nth-child(even){
    margin: 20px 0px;
}


.playlist-btn{
    height: 50px;
    width: 50px;
    border: 1px solid red;
    font-size: 40px;
}

.user div:first-child{
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #808080;
    overflow: hidden;    
    vertical-align: middle;
}

.profile h4,
.profile-img{
    display: inline-block;
}

.app-box{
    background-color: #141922;
    width: 100%;
    overflow-y: auto;
}
/* APP-BOX */
header{
    width: calc(100% - 250px);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(8, 11, 18, 0.4);
    padding: 20px 25px 25px 0px;
}

.nav-albums{
    text-align: center;
    margin: 112px 0px 40px 0px;
    
}
.nav-albums ul li{
    display: inline-block;
    
}
.nav-albums a{
    text-decoration: none;
    color: inherit;
}


section h2,
section h5{
    margin-left: 10px;
}

.piano-albums{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.album{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    text-align: center;
}
.canvas-album img{
    width: 100%;
}

.album-title{
    color: white;
    padding: 10px 0px;
}

.circle img{
    border-radius: 50%;
}


/* footer */
footer{
    height: 100px;
    background-color: #282828;
}


.player-canvas{
    height: 50px;
    width: 50px;
}
.player-canvas img{
    width: 100%;
}
